
<h4>Rate name : {{rates.name}}</h4>

Rate code : {{rates.code}}
<br>
Created date: {{rates.createdAt|date}}
<br>


Billing products :





  <div id="accordion">
    <div class="card" *ngFor ='let bp of rates.billing_products'>
    <div class="card-header" id="heading{{bp.id}}">
        <h5 class="mb-0">
          <button class="btn" data-toggle="collapse" attr.data-target="#collapse{{bp.id}}" aria-expanded="false" attr.aria-controls="collapse{{bp.id}}">
            {{bp.name}}
          </button>
        </h5>
      </div>
  
      <div attr.id="collapse{{bp.id}}" class="collapse" attr.aria-labelledby="heading{{bp.id}}" >
        <div class="card-body">
            <br>
            Created date: {{bp.createdAt|date}}
             <br>
           Price : {{bp.price}} 
           <br>

           <a href="product_package/{{rates.product_packageId}}/rate_plan/{{rates.id}}/billing_product/{{bp.id}}">more info on billing product</a>
          
       </div>
      </div>
    </div>

</div>
